<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303847721216-d1g7d6ujnr1b3fqo3qgg2l9duvtd3i4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303847721216-d1g7d6ujnr1b3fqo3qgg2l9duvtd3i4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCw9OtDi24lTFXz8jYLSo4C2bGh80vw0bg</string>
	<key>GCM_SENDER_ID</key>
	<string>303847721216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netshop</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-ai-9aa2b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-ai-9aa2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303847721216:ios:aadd390e6e04814a9e0be5</string>
</dict>
</plist>